<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zbj.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FindNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PropertyAnimActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WaterfallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PorterDuffXfermodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TakeOffClothesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoadTextActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScrollerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TextViewLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SharderActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>